
.container_contato {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 40px;
  padding: 50px 20px;
  color: #fff;
}

.contato-item {
  text-align: center;
  max-width: 200px;
  transition: transform 0.3s ease;
}

.contato-item:hover {
  transform: scale(1.20);
}

.icone {
  width: 60px;
  height: 60px;
  margin: 0 auto 10px;
  border-radius: 50%;
  border: 2px solid white;
  background: transparent;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: 0.3s ease, transform 0.3s ease;
}

.icone:hover {
  background: white;
  transform: rotate(360deg) scale(1.2);
}

.icone i {
  font-size: 26px;
  transition: transform 0.3s ease;
}

.contato-item:hover .icone i {
  transform: scale(1.2);
}

#email {
  color: #BB001B;
}

#whatsapp {
  color: #25d366;
}

#linkedin {
  color: #0077B5;
}

#github {
  color: #6E40C9;
}

#instagram {
  color: #E1306C;
}

.contato-item h3 {
  margin: 10px 0 5px;
  font-weight: bold;
  color: var(--text-color);
}

.contato-item p {
  font-size: 0.95rem;
  color: var(--text-color);
  text-decoration: none;
}
